@import "ionic.globals";


$text-color: #000;
$background-color: #fff;


$colors: (
  primary: #222222,
  secondary: #FFC107,
  danger: #f53d3d,
  light: #FFF,
  green: #8bc34a
);


@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
