<ion-header>
  <ion-navbar color="dark">
    <ion-title>All Passengers - {{passengers.length}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>More</th>
      </thead>
      <tbody>
        <tr *ngFor="let passenger of passengers">
          <td><img [src]="passenger.photoURL" class="dp"> <a href="#" (click)="showPassengerInfo(passenger.key)">{{passenger.name}}</a></td>
          <td>{{passenger.email}}</td>
          <td><a item-right href="tel:{{passenger.phoneNumber}}" *ngIf="passenger.phoneNumber">{{passenger.phoneNumber}}</a></td>
          <td><a href="#">Delete</a></td>
        </tr>
      </tbody>
    </table>
</ion-content>
